<div class="jumbotron">
  <h1>EverySens Cars</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Everysens"><br>
    Enter a car model.
  </p>
  <form method="get" ng-submit="searchCar()">
    <input name="car-models" type="text" placeholder="car model" ng-model="car.models" required />
    <button class="btn btn-lg btn-success" type="submit">Search a Car &nbsp;<span class="glyphicon glyphicon-ok"></span></button>
  </form>
</div>
<ul>
  <li ng-repeat="car in cars">
    <p>{{car.model_name}}</p>
  </li>
</ul>
